{% extends 'base.html' %}{% load static %}

{% block body %}

{% verbatim %}
<div id="app">
<div id="layout" class="content pure-g">
    <div id="nav" class="pure-u">
        <a href="#" class="nav-menu-button">Menu</a>
        <div class="nav-inner">
            <form class="pure-form">
                <input type="text" class="pure-input-rounded" />
            </form>
            <div class="pure-menu">
                <ul class="pure-menu-list">
                <li class="pure-menu-item" v-for="app in apps" :key="app.id" v-on:click="selectApp(app)">
                <a href="#" class="pure-menu-link">{{ app.name }} <span class="revision-count">({{ app.num_revisions }})</span></a>
                </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="list" class="pure-u-1">
        
        <div class="email-item email-item-unread pure-g" v-if="selected_app.latest_revisions">
            <div class="pure-u">
                <img width="64" height="64" alt="" class="email-avatar" src="/img/common/tilo-avatar.png">
            </div>

            <div class="pure-u-3-4">
                <h5 class="email-name">{{ selected_app.name }}@Latest</h5>
                <h4 class="email-subject">{{ selected_app.latest_revisions[0].revision }}</h4>
                <h4 class="email-subject">view {{ selected_app.latest_revisions[0].updated | formatDate }}</h4>
                <p class="email-desc">
                    <a :href="selected_app.url">Latest Revision</a>
                    <span>{{ selected_app.latest_revisions[0].repo }}</span>
                </p>
            </div>
        </div>
        <div class="email-item email-item-unread pure-g" v-if="!selected_app.latest_revisions">
            <div class="pure-u">
                <img width="64" height="64" alt="" class="email-avatar" src="{% static 'img/common/tilo-avatar.png' %}">
            </div>

            <div class="pure-u-3-4">
                <h5 class="email-name">Select a Project</h5>
                <h4 class="email-subject">to continue</h4>
                <p class="email-desc">
                    In order to view a projects revisions you need to select it from the left hand side
                </p>
            </div>
        </div>

        <div class="email-item email-item-selected pure-g" v-for="rev in selected_app.latest_revisions">
            <div class="pure-u">
                <img width="64" height="64" alt="" class="email-avatar" src="{% static 'img/common/tilo-avatar.png' %}">
            </div>

            <div class="pure-u-3-4">
                <h5 class="email-name">{{ selected_app.name }}@{{ rev.revision }}</h5>
                <h4 class="email-subject">{{ rev.revision }}</h4>
                <h4 class="email-subject">{{ rev.updated | formatDate }}</h4>
                <p class="email-desc">
                    <a :href="rev.url">View Revision</a>
                </p>
            </div>
        </div>

    </div>

    <div id="main" class="pure-u-1">
        <div class="email-content">
            <div class="email-content-header pure-g">
                <div class="pure-u-1-2">
                    <h1 class="email-content-title">Upload a Doc</h1>
                    <p class="email-content-subtitle">
                        How do I <a>upload</a> my <span>documentation</span>
                    </p>
                </div>

                <!--<div class="email-content-controls pure-u-1-2">
                    <button class="secondary-button pure-button">Reply</button>
                    <button class="secondary-button pure-button">Forward</button>
                    <button class="secondary-button pure-button">Move to</button>
                </div>-->
            </div>

            <div class="email-content-body">
                <p>
                    To upload your documentation zip files
                </p>
                <p>
                    <ol>
                    <li>Generate your docs using mkdocs hugo jekyle pelican or some other SSG</li>
                    <li>Zip that folder and ensure its called <b>public</b></li>
                    <li class="email-content-subtitle">
                    Post the document as a form
                    <blockquote>
                    <code>
                    http -f post http://localhost:8000/u/ app=test repo=https://github.com/rosscdh/rockument.git payload@$PWD/test-payload.zip revision=v0.0.4
                    </code>
                    </blockquote>
                    </li>
                    </ol>
                </p>
            </div>
        </div>
    </div>
</div>
</div>
{% endverbatim %}
{% endblock %}

{% block end_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>

{{ object_list|json_script:"app-data" }}
<script>
Vue.filter('formatDate', function(value) {
  if (value) {
    return moment(String(value)).fromNow()
  }
})

var app = new Vue({
  el: '#app',
  data: {
    selected_app: {},
    apps: JSON.parse(document.getElementById('app-data').textContent),
  },
  methods: {
    selectApp: function (app) {
      this.selected_app = app
    }
  }
})
</script>
{% endblock end_js %}