{% extends 'base.html' %}{% load static %}

{% block body %}

{% verbatim %}
<div id="app">
<div id="layout" class="content pure-g">
    <div id="nav" class="pure-u">
        <a href="#" class="nav-menu-button">Menu</a>
        <div class="nav-inner">
            <form class="pure-form">
                <input type="text" class="pure-input-rounded" />
            </form>
            <div class="pure-menu">
                <ul class="pure-menu-list">
                <li class="pure-menu-item" v-for="app in apps" :key="app.id" v-on:click="selectApp(app)">
                <a href="#" class="pure-menu-link">{{ app.name }} <span class="revision-count">({{ app.num_revisions }})</span></a>
                </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="list" class="pure-u-1">
        
        <div class="email-item email-item-unread pure-g" v-if="selected_app.latest_revisions">
            <div class="pure-u">
                <img width="64" height="64" alt="" class="email-avatar" src="/img/common/tilo-avatar.png">
            </div>

            <div class="pure-u-3-4">
                <h5 class="email-name">{{ selected_app.name }}@Latest</h5>
                <h4 class="email-subject">view the latest</h4>
                <p class="email-desc">
                    The <a :href="selected_app.url">Latest Revision</a>
                </p>
            </div>
        </div>
        <div class="email-item email-item-unread pure-g" v-if="!selected_app.latest_revisions">
            <div class="pure-u">
                <img width="64" height="64" alt="" class="email-avatar" src="{% static 'img/common/tilo-avatar.png' %}">
            </div>

            <div class="pure-u-3-4">
                <h5 class="email-name">Select a Project</h5>
                <h4 class="email-subject">to continue</h4>
                <p class="email-desc">
                    In order to view a projects revisions you need to select it from the left hand side
                </p>
            </div>
        </div>

        <div class="email-item email-item-selected pure-g" v-for="rev in selected_app.latest_revisions">
            <div class="pure-u">
                <img width="64" height="64" alt="" class="email-avatar" src="{% static 'img/common/tilo-avatar.png' %}">
            </div>

            <div class="pure-u-3-4">
                <h5 class="email-name">{{ selected_app.name }}</h5>
                <h4 class="email-subject">{{ rev.revision }}</h4>
                <p class="email-desc">
                    The <a :href="rev.url">View Revision</a>
                </p>
            </div>
        </div>

    </div>

    <div id="main" class="pure-u-1">
        <div class="email-content">
            <div class="email-content-header pure-g">
                <div class="pure-u-1-2">
                    <h1 class="email-content-title">Hello from Toronto</h1>
                    <p class="email-content-subtitle">
                        From <a>Tilo Mitra</a> at <span>3:56pm, April 3, 2012</span>
                    </p>
                </div>

                <div class="email-content-controls pure-u-1-2">
                    <button class="secondary-button pure-button">Reply</button>
                    <button class="secondary-button pure-button">Forward</button>
                    <button class="secondary-button pure-button">Move to</button>
                </div>
            </div>

            <div class="email-content-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <p>
                    Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>
                    Aliquam ac feugiat dolor. Proin mattis massa sit amet enim iaculis tincidunt. Mauris tempor mi vitae sem aliquet pharetra. Fusce in dui purus, nec malesuada mauris. Curabitur ornare arcu quis mi blandit laoreet. Vivamus imperdiet fermentum mauris, ac posuere urna tempor at. Duis pellentesque justo ac sapien aliquet egestas. Morbi enim mi, porta eget ullamcorper at, pharetra id lorem.
                </p>
                <p>
                    Donec sagittis dolor ut quam pharetra pretium varius in nibh. Suspendisse potenti. Donec imperdiet, velit vel adipiscing bibendum, leo eros tristique augue, eu rutrum lacus sapien vel quam. Nam orci arcu, luctus quis vestibulum ut, ullamcorper ut enim. Morbi semper erat quis orci aliquet condimentum. Nam interdum mauris sed massa dignissim rhoncus.
                </p>
                <p>
                    Regards,<br>
                    Tilo
                </p>
            </div>
        </div>
    </div>
</div>
</div>
{% endverbatim %}
{% endblock %}

{% block end_js %}
{{ object_list|json_script:"app-data" }}


<script>
var app = new Vue({
  el: '#app',
  data: {
    selected_app: {},
    apps: JSON.parse(document.getElementById('app-data').textContent),
  },
  methods: {
    selectApp: function (app) {
      this.selected_app = app
    }
  }
})
</script>
{% endblock end_js %}