{% load static %}
<nav class="navbar navbar-expand-lg {{ class_list }}">
  <div class="{% if type == 'boxed' %}container{% else %}container-fluid{% endif%}">

    <!-- Brand -->
    <a class="navbar-brand" href="/">
      <img src="" class="navbar-brand-img" alt="...">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      <ul class="navbar-nav ml-auto">
    
        <li class="nav-item dropdown">
          <a class="nav-link {% if account_profile in request.path %}active{% endif %}" id="" data-toggle="" href="" aria-haspopup="false" aria-expanded="false">
            Profile
          </a>
        </li>
      </ul>


      <!-- Button -->
      {% if user.is_authenticated %}
      <a class="navbar-btn btn btn-sm btn-primary lift ml-auto" href="">
        Logout
      </a>
      {% else %}
      <a class="navbar-btn btn btn-sm btn-primary lift ml-auto" href="">
        Log in
      </a>
      &nbsp;
      <a class="navbar-btn btn btn-sm btn-secondary lift ml-auto" href="">
        Sign Up
      </a>
      {% endif %}

    </div>

  </div>
</nav>
